.itemlist
{
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

.athing
{
	display: flex;
	align-items: center;

	padding: 0.5rem 0rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.athing:nth-child(even) { background-color: rgba(0, 0, 0, 0.07); border-bottom: 1px solid rgba(0, 0, 0, 0.11); }

.athing:last-child { margin-bottom: 0; border-bottom: 0; }

.athing * { outline: 0px solid red; }

.athing > .rank:after { content: '.'; }
.athing > .rank { flex: 0 0 2.25rem; text-align: right; }
.athing > .votelinks
{
	display: flex;
	flex: 0 0 1.25rem;
	flex-direction: column;
	align-items: center;
}

.athing > .postimage
{
	display: flex;
	flex: 0 0 3.75rem;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}
.athing > .postimage > img
{
	display: block;
	width: 3rem;
	height: 3rem;
	margin-left: 0.25rem;
	margin-right: 0.50rem;
}

.athing > .title
{
	flex-basis: auto;
}
.athing p,
.athing aside
{
	margin: 0;
}

.athing > .post > p
{
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.athing > .post > .subtext
{
	padding-bottom: 0.33rem;
}

